/* Общие стили */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4;
}

.container {
    max-width: 600px; /* Измените ширину контейнера */
    margin: 20px auto;
    padding: 20px;
    background: #ffffff; /* Цвет фона контейнера */
    border-radius: 10px; /* Закругляем углы контейнера */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Более заметная тень */
}

/* Заголовки */
h1 {
    text-align: center;
    color: #4CAF50;
    margin-bottom: 20px; /* Добавляем отступ снизу */
}

/* Формы */
form {
    display: flex;
    flex-direction: column;
    margin: 0; /* Убираем внешний отступ формы */
    padding: 20px; /* Внутренние отступы */
}

form label {
    margin: 10px 0 5px;
    font-weight: bold;
    color: #4CAF50;
}

form input, form select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    transition: border-color 0.3s;
}

form input:focus, form select:focus {
    border-color: #4CAF50;
    outline: none;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; /* Плавный переход цвета кнопки */
}

button:hover {
    background-color: #45a049;
}

/* Ссылка */
a {
    text-decoration: none;
    color: #4CAF50;
    transition: color 0.3s;
    text-align: center; /* Выравнивание ссылки по центру */
    margin-top: 10px; /* Отступ сверху */
}

a:hover {
    color: #45a049;
}

/* Радиокнопки */
.radio-group {
    display: flex;
    align-items: center;
    margin: 10px 0; /* Отступ вокруг группы радиокнопок */
}

.radio-group input[type="radio"] {
    margin-top: 20px; /* Отступ между радиокнопкой и текстом */
}